html {
    --color-orange: #FFBE07;
    /* font-size: 0.8rem; */
}


body {
    position: relative;
    padding-bottom: 100px;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: -20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(61, 60, 60);
}

.right {
    margin-left: auto;
}

.myBtnHover:hover{
    background-color: rgb(255, 183, 0);
    border-color: rgb(255, 183, 0);
}

.h2-size {
    font-size: 1rem;
}

.h6-size {
    font-size: 1rem;
}

.card {
    display: block;
    margin: 0 auto;
    min-width: 300px;
    max-width: 600px;
    border: none;
}

.log-in-message-form {
    position: relative;
}

.log-in-message {
    position: absolute;
    width: 50px;
    left: -12px;
}

.pagination {
    padding: 10px 15px;
}

.first {
    padding-left: 0;
}

.last {
    padding-right: 0;
}

@media screen and (min-width: 1100px) {
    .h2-size {
        font-size: 1.4rem;
    }

    .h6-size {
        font-size: 1.1rem;
    }
}
