html {
    --color-orange: #FFBE07;
    --color-hover: rgb(255, 183, 0);
    /* font-size: 0.8rem; */
}


body {
    position: relative;
    /* padding-bottom: 100px; */
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(61, 60, 60);
    /* because footer has absolute position it covers body, so it must be translated down about 100% its height */
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.right {
    margin-left: auto;
}

.myBtnHover:hover {
    background-color: rgb(255, 183, 0)!important;
    border-color: rgb(255, 183, 0)!important;
    outline: none;
}

.dropdown-item:active, .dropdown-item:focus {
    color: #212529;
    background-color: #fff;
    outline: none;
}

.dropdown-item:hover, button.bg-light:focus, button.bg-light:hover , button.bg-warning:focus, button.bg-warning:hover {
    color: #212529;
    /* background-color: #F7F7F7 !important; */
    background-color: #fff !important;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.h2-size {
    font-size: 1rem;
}

.h4-size {
    font-size: 1rem;
}

.h6-size {
    font-size: 0.9rem;
}

.card {
    display: block;
    margin: 0 auto;
    min-width: 300px;
    max-width: 600px;
    border: none;
}

.gray-background {
    background-color: #F7F7F7;
}

.log-in-message-form {
    position: relative;
}

.log-in-message {
    text-align: center;
}

.pagination {
    padding: 10px 15px;
}

.first {
    padding-left: 0;
}

.last {
    padding-right: 0;
}

.word-break {
    word-break: break-word;
}

.break-div {
    /* width: 3%; */
    margin-left: 2%;
}

.arr-up, .arr-down {
    width: 17px;
}

.focus-a:focus {
    outline: none;
    text-decoration: underline;
}

.box-shadow:focus {
    box-shadow:none;
}

.box-shadow:hover {
    text-decoration: underline;
}

.heart-icon:focus {
    outline: none;
}

.red-border {
    border-color: red;
}

@media screen and (min-width: 768px) {
    .arr {
        width: 20px;
    }
}

@media screen and (min-width: 1100px) {
    .h2-size {
        font-size: 1.4rem;
    }

    .h4-size {
        font-size: 1.1rem;
    }

    .h6-size {
        font-size: 1rem;
    }

    .break-div {
        margin-left: 1%;
    }

}
